<div id="describe" class="row">

  <div id="localmetadata-edit" *ngIf="resource && resource['@id']"
       [ngClass]="{'col-md-4 m-0': resource.anonBody, 'col-12 m-0': !resource.anonBody}">
    <div class="text-right" *ngIf="!resource.anonBody">
      <i class="resource-btn fa fa-close" [routerLink]="'../resource'" [queryParams]="{uri: resourceUri}"></i>
      <i class="resource-btn fa fa-save" (click)="saveContent()"></i>
    </div>
    <textarea class="form-control" style="font-size: x-small" rows="64" [(ngModel)]="jsonld"></textarea>
  </div>

  <div id="localcontent-edit" *ngIf="resource && resource.anonBody" class="col-md-8 m-0">
    <div class="text-right">
      <i class="resource-btn fa fa-refresh" (click)="jsonld = resource.asJsonLd()"></i>
      <i class="resource-btn fa fa-close" [routerLink]="'../resource'" [queryParams]="{uri: resourceUri}"></i>
      <i class="resource-btn fa fa-save" (click)="saveContent()"></i>
    </div>
    <ckeditor [(data)]="resource.anonBody.values[0].value" [config]="editorConfig"></ckeditor>
  </div>

</div>
