<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{user.username}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-6 p-3">
        <h6 class="card-subtitle text-muted">Username</h6>
        <p class="card-text">{{user.username}}</p>
      </div>
      <div class="col-md-6 p-3">
        <h6 class="card-subtitle text-muted">Role</h6>
        <p class="card-text">{{user.authorities[0]?.authority.split('_')[1]}}</p>
      </div>
    </div>
    <div class="card-footer text-end">
        <button id="listBtn" type="button" [routerLink]="['..']"
                class="btn m-1 btn-outline-primary">Back
        </button>
        <button id="editBtn" type="button" [routerLink]="['edit']"
                class="btn m-1 btn-outline-success">Edit
        </button>
        <button id="deleteBtn" type="button" (click)="delete()"
                class="btn m-1 btn-outline-danger">Delete
        </button>
      </div>
  </div>
</div>
