<div id="describe" class="row">

  <div *ngIf="loading" class="col-12 m-0">
    <h1 class="badge badge-warning badge-pill">Loading...</h1>
  </div>

  <div id="metadata" *ngIf="!loading && resource && resource['@id']"
       [ngClass]="{'col-md-4 m-0': resource.anonBody || this.content, 'col-12 m-0': !resource.anonBody && !this.content}">
    <div class="text-right" *ngIf="!resource.anonBody && !this.content">
      <i class="resource-btn fa fa-pencil-square-o" [routerLink]="'../edit-resource'" [queryParams]="{uri: resourceUri}"
         [state]="{ 'resource': resource }"></i>
    </div>
    <app-description [datasetId]="datasetId" [description]="resource"
                     [anonDescriptions]="anonResources" [resource]="'../resource'"></app-description>
  </div>

  <div id="localcontent" *ngIf="!loading && resource.anonBody" class="col-md-8 m-0">
    <div class="text-right">
      <i class="resource-btn fa fa-pencil-square-o" [routerLink]="'../edit-resource'" [queryParams]="{uri: resourceUri}"
         [state]="{ 'resource': resource }"></i>
    </div>
    <div [innerHTML]="resource.anonBody.values[0].value"></div>
  </div>

  <div id="remotecontent" *ngIf="!loading && this.content" class="col-md-8 m-0">
    <div class="text-right">
      <i class="resource-btn fa fa-pencil-square-o" [routerLink]="'../edit-resource'" [queryParams]="{uri: resourceUri}"
         [state]="{ 'resource': resource }"></i>
    </div>
    <div [innerHTML]="content"></div>
  </div>

</div>
