<form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- Username input -->
    <div class="form-group" [class.was-validated]="username.dirty || username.touched">
      <label class="control-label" for="username">Username*</label>
      <input id="username" name="username" type="text" class="form-control" required
             [(ngModel)]="user.username" #username="ngModel">
      <div class="invalid-feedback">A username is required</div>
    </div>

    <!-- Password input -->
    <div class="form-group" [class.was-validated]="password.dirty || password.touched">
      <label class="control-label" for="password">Password*</label>
      <input id="password" name="password" type="password" class="form-control" required minlength="8" maxlength="256"
             [(ngModel)]="user.password" #password="ngModel">
      <div class="invalid-feedback">A password longer than 8 characters is required</div>
    </div>

    <!-- Role input -->
    <div *ngIf="user.authorities.length" class="form-group" [class.was-validated]="role.dirty || role.touched">
      <label class="control-label" for="role">Role*</label>
      <input id="role" name="role" type="text" class="form-control" readonly
             [(ngModel)]="user.authorities[0].authority" #role="ngModel">
    </div>

    <!-- Button -->
    <div class="form-group">
      <button id="submit" type="submit" class="btn m-1 btn-success pull-right" [disabled]="!form.form.valid">Submit</button>
      <button id="listBtn" type="button" [routerLink]="['..']" class="btn m-1 btn-outline-primary pull-right">Back</button>
    </div>

  </fieldset>
</form>
