<div class="jumbotron">
  <p>RhizomerEye is a web application for <b>interactive exploration of the semantic linked data</b>
    available from SPARQL endpoints.
  </p>
  <p>It automatically generates a user interface based on a <b>tag cloud</b> for all classes and
    a <b>faceted view</b> for each class. Each facet corresponds to a property and allows filtering
    class instances based on the property values.
  </p>
  <p>For instance, you can explore the datasets:</p>
  <ul>
    <li><a href="https://rhizomer.rhizomik.net/datasets/got">Game of Thrones</a></li>
    <li><a href="https://rhizomer.rhizomik.net/datasets/dbpedia">DBPedia</a></li>
  </ul>
  <p>If interested in testing Rhizomer with your own data, you can <b>request and account</b>:
    <a href="mailto:contact@rhizomik.net">contact@rhizomik.net</a></p>
  <p>It is also possible to deploy your own copy of Rhizomer. The source code and the instructions to do
    so are available from GitHub:</p>
  <ul>
    <li><a href="https://github.com/rhizomik/rhizomerEye">Client</a>:
      Angular application consuming the Rhizomer API.</li>
    <li><a href="https://github.com/rhizomik/rhizomerAPI">Server</a>:
      Spring Boot application providing a REST API for datasets exploration.</li>
  </ul>
</div>
