<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('ca')">ca</button>
<button (click)="useLanguage('es')">es</button>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-left"><img class="pull-left" style="max-width:45px" src="assets/rhizomikEye.svg"/></a>
  <a class="navbar-brand" [routerLink]="['']">Rhizomer<b>Eye</b></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn()" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="samplesDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Datasets</a>
        <div class="dropdown-menu" aria-labelledby="samplesDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/datasets']"><span class="fa fa-list"></span> List</a>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/datasets/new']"><span class="fa fa-save"></span> New</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="isAdmin()" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Administration</a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown" ngbDropdownMenu>
          <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/users']"><span class="fa fa-user"></span> Users</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" app-login-navbar></ul>
  </div>
</nav>
