<nav aria-label="breadcrumb">
  <ul class="breadcrumb">
    <li class="breadcrumb-item item" [class.active]="isLast"
        *ngFor="let page of breadcrumbs; last as isLast">
      <a *ngIf="!isLast" [routerLink]="[page.uri]">{{page.name | translate}}</a>
      <span *ngIf="isLast">{{page.name}}</span>
    </li>
    <li *ngIf="filters.length" class="breadcrumb-item item"></li>
    <li class="badge badge-warning badge-pill m-1" *ngFor="let filter of filters">
      <span class="fa fa-times-circle" (click)="removeFilter(filter)"></span>
      {{filter.facet.label}}<span *ngIf="filter.label && filter.facet.label">: </span>
      <span *ngIf="filter.label">{{filter.label}}</span>
    </li>
  </ul>
</nav>
