<div id="faceted" class="row">

  <div id="facets" class="col-4 m-0">
    <h5 class="p-1">Facets</h5>
    <div class="row justify-content-between">
      <div class="col mb-3">
        <!-- app-facet-search (emitResults)="showSearchResults($event)" [facets]="facets"></app-facet-search -->
      </div>
    </div>
    <div class="card facet p-2 mb-2 info" *ngFor="let facet of facets">
      <h6 class="card-title p-1 mb-1" title="{{facet.uri}}"><b>{{facet.label}}</b> ({{facet.timesUsed}})</h6>
      <div class="card p-2 mb-1" *ngFor="let range of facet.ranges">
        <p class="card-title p-1 m-0"><b>{{range.label}}</b> ({{range.timesUsed}})
          <span class="fa fa-plus-circle" (click)="firstValues(facet, range)"></span>
        </p>
        <p class="card-text small pl-3 m-0" *ngFor="let value of range.values">{{value.label}} ({{value.count}})</p>
      </div>
    </div>
    <p i18n class="text-center">Showing {{facets.length}} out of { totalFacets, plural,
      =1 {1 class}
      other { {{totalFacets}} facets} }</p>
  </div>

  <div id="instances" class="col-8">
    <h5 class="p-1">Instances</h5>
  </div>

</div>
