<div id="faceted" class="row">

  <div id="facets" class="col-4 m-0">
    <h5 class="p-1">Facets
      <span *ngIf="retrievedFacets" class="badge badge-warning badge-pill">
        {{retrievedFacets}}<span *ngIf="retrievedFacets < datasetClass.facetsCount"
                                 (click)="loadAllFacets()" style="cursor: pointer"
                                 title="Load all facets">/{{datasetClass.facetsCount}}</span>
      </span>
      <span *ngIf="!retrievedFacets" class="badge badge-warning badge-pill">Loading...</span>
    </h5>
    <div class="card facet p-2 mb-2" *ngFor="let facet of facets" [class.bg-warning]="facet.selected">
      <h6 class="card-title p-1 mb-1"><b title="{{facet.uri}}">{{facet.label}}</b>
        <span class="badge badge-primary badge-pill float-right" style="cursor: pointer"
              title="Filter all with {{facet.label}}" (click)="filterAll(facet)">
          {{facet.timesUsed}}</span>
      </h6>
      <div class="card range p-2 mb-1" *ngFor="let range of facet.ranges">
        <p class="card-title p-1 m-0"><b title="{{range.uri}}">{{range.label}}</b>
          <span *ngIf="facet.ranges.length > 1" class="badge badge-light badge-pill">{{range.timesUsed}}</span>
          <span class="fa fa-plus-circle ml-1" style="cursor: pointer" (click)="firstValues(facet, range)"></span>
        </p>
        <p class="card-text value small pl-3 m-0" [class.border-bottom]="!lastValue"
           *ngFor="let value of range.values; let lastValue=last" style="cursor: pointer"
           (click)="filterValue(facet, value)" [class.bg-warning]="value.selected">
          <span [title]="value.curie? value.value : ''">{{value.label}}</span>
          <span class="badge badge-secondary float-right mt-1 mb-1">{{value.count}}</span>
        </p>
      </div>
    </div>
  </div>

  <div id="instances" class="col-8 m-0">
    <h5 class="p-1">Instances
      <span *ngIf="filteredInstances" class="badge badge-warning badge-pill">{{filteredInstances}}/{{totalInstances}}</span>
      <span *ngIf="!filteredInstances" class="badge badge-warning badge-pill">Loading...</span>
    </h5>
    <div *ngFor="let resource of resources">
      <app-description [description]="resource" [anonDescriptions]="anonResources"></app-description>
    </div>
    <p i18n class="text-center">Showing {{resources?.length}} out of { filteredInstances, plural,
      =1 {1 instance}
      other { {{filteredInstances}} instances} } filtered from {{totalInstances}}</p>
  </div>

</div>
