<div class="row">
  <div *ngIf="isLoggedIn()" class="col-lg-2 form-group pull-left">
    <button id="detailsBtn" type="button" [routerLink]="['/datasets', datasetId, 'details']"
            class="btn btn-outline-primary">
      <span class="fa fa-info-circle"></span> Details</button>
  </div>
  <div class="col-md form-group input-group">
    <input id="search" type="text" class="form-control" #text placeholder="{{ 'network.search' | translate }}"
           (keyup.enter)="search(text.value)"/>
    <div class="input-group-append">
      <button class="btn btn-sm btn-secondary" type="button" (click)="search(text.value)">
        <span class="fa fa-search"></span>
      </button>
    </div>
  </div>
  <div class="col-md-3 form-group">
    <input id="typeahead" type="text" class="form-control" [resultTemplate]="rt" #typeahead
           [class.is-invalid]="searchFailed" [ngbTypeahead]="autocomplete" placeholder="{{ 'network.search2' | translate }}"
           [class.loading]="searching" (selectItem)="browse($event.item)"/>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
</div>

<div class="row" style="margin-top: -20px">
  <div *ngIf="isLoggedIn()" class="col-sm-3 pull-left"></div>
  <div class="col-sm">&nbsp;</div>
  <div class="col-sm-3">
    <small class="form-text text-muted" *ngIf="typeahead.value.length > 0 && typeahead.value.length < 3">
      Type 3 chars...</small>
    <small class="form-text text-muted" *ngIf="typeahead.value.length > 2 && emptyAutocomplete && !searching">
      No classes found</small>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.label" [term]="t"></ngb-highlight>
</ng-template>

<div *ngIf="links === undefined" id="loading" style="text-align: center;">
  <div id="spinner"></div>
  <div>Analyzing all classes, this might require some time...</div>
</div>
<div *ngIf="classes?.length === 0" class="row">
  <div class="col alert-danger m-3 text-center" >No class instances were found</div>
</div>

<svg style="width: 100%; height: auto; margin-top: -58px"></svg>

<div *ngIf="links !== undefined" style="margin-top: -50px">
    <div class="fa fa-minus-square mr-1" (click)="contract()"></div>
    <div class="fa fa-plus-square" (click)="expand()"></div>
</div>

<div class="row">
  <div class="col small alert-warning m-3 text-center">
    Showing <span *ngIf="classes?.length === topClasses">top {{topClasses}} classes and </span>
    <span *ngIf="facetRelevance > 0">relations with frequency > {{facetRelevance * 100}}%
    (<a (click)="setFacetRelevance(0)" style="cursor: pointer">show all relations</a>)</span>
    <span *ngIf="facetRelevance === 0">all relations
    (<a (click)="setFacetRelevance(0.3)" style="cursor: pointer">show less relations</a>)</span>
  </div>
</div>
