<li class="nav-item" *ngIf="isLoggedIn()" id="currentUser">
  <a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
     [routerLink]="['/users', getCurrentUserName()]">
    <span class="fa fa-user-circle-o"></span> {{getCurrentUserName()}}</a>
</li>

<li class="nav-item" *ngIf="isLoggedIn()">
  <a class="nav-link" (click)="logout()" href="#" (click)="$event.preventDefault()">
    <span class="fa fa-unlock"></span> Logout</a>
</li>

<li class="nav-item" *ngIf="!isLoggedIn()">
  <a class="nav-link" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
     [routerLink]="['/login']">
    <span class="fa fa-key"></span> Login</a>
</li>
