<div class="card range p-2 mb-1">
  <p class="card-title p-1 m-0"><b title="{{range.uri}}">{{range.getLabel(translate.currentLang)}}</b>
    <span *ngIf="facet.ranges.length > 1" class="badge badge-light badge-pill">{{range.timesUsed}}</span>
    <span *ngIf="status === rangeStatus.UNEXPANDED" class="fa fa-plus-circle ml-1"
          style="cursor: pointer" (click)="firstValues(range)"></span>
    <span *ngIf="status === rangeStatus.EXPANDED" class="fa fa-minus-circle ml-1"
          style="cursor: pointer" (click)="clearValues(range)"></span>
    <span *ngIf="status === rangeStatus.LOADING" class="fa fa-circle-o-notch fa-spin ml-1"></span>
  </p>
  <p class="card-text value small pl-3 m-0" [class.border-bottom]="!lastValue"
     *ngFor="let value of range.values; let lastValue=last" style="cursor: pointer"
     (click)="filterValue(value)" [class.bg-warning]="value.selected">
    <span [title]="valueToolTip(value)">{{value.getLabel(translate.currentLang)}}</span>
    <span class="badge badge-secondary float-right mt-1 mb-1">{{value.count}}</span>
  </p>
  <div *ngIf="range.values">
    <input id="typeahead-http" type="text" class="pl-3 form-control form-control-sm"
           [resultTemplate]="rt" [editable]='false' #autocomplete
           [class.is-invalid]="searchFailed" [ngbTypeahead]="search" placeholder="Search facet values"
           [class.loading]="searching" (selectItem)="selectItem($event, autocomplete)"/>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight class="small" [result]="r.getLabel(translate.currentLang)" [term]="t"></ngb-highlight>
</ng-template>
