::ng-deep .range-slider {
  /*margin-top: -10px;*/
}

::ng-deep .range-slider .ngx-slider .ngx-slider-selection {
  background: #007bff;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-pointer {
  width: 16px;
  height: 16px;
  top: -6px;
  background-color: #ffc107;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-pointer:after {
  top: 4px;
  left: 4px;
  background-color: #007bff;
}

::ng-deep .range-slider .ngx-slider .ngx-slider-bubble {
  cursor: default;
  bottom: 12px;
  padding: 0 0 0 6px;
  color: #212529;
  font-size: small;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 20px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffc107;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #ffc107;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffc107;
}

input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
}

.slider:after
{
  content:'And';
  color: black;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: x-small;
  font-weight: bold;
}

input:checked + .slider:after
{
  content:'Or';
}
