<div class="card mb-2" *ngIf="description">
  <img *ngIf="description.depiction.length > 0" class="card-img-top"
       style="cursor: pointer" [class.expanded]="depictionExpanded" (click)="clickDescriptionDepiction()"
       [src]="description.depiction[0].asString()" alt="resource depiction">
  <div class="card-header">
    <p class="card-text" [class.reverse-text-truncate]="!description.label">
      <b *ngIf="!description.isAnon()" [title]="description['@id']">
        <a [routerLink]="[resource]" [queryParams]="{uri: description['@id']}">{{description.label || description['@id']}}</a>
      </b>
      <b *ngIf="description.isAnon() && description.label">{{description.label}}</b>
      <span *ngFor="let type of description['@type']" [title]="type.uri"
            class="badge badge-secondary badge-pill pull-right mt-1" (click)="browseClass(type.uri)" style="cursor: pointer">
        {{localName(type.label)}}
      </span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item small {{property.uri}}" *ngFor="let property of description.properties">
      <b title="{{property.uri}}">{{property.label}}</b>:
      <span *ngFor="let value of property.filterLangValues(translate.currentLang); let firstValue=first">
        <app-description *ngIf="value.isAnon()" [datasetId]="datasetId" [resource]="resource"
          [description]="getAnonResource(value)" [anonDescriptions]="anonDescriptions">
        </app-description>
        <span *ngIf="!value.isAnon()">
          <span *ngIf="!firstValue">, </span>
          <span *ngIf="value.uri"><a [routerLink]="[resource]" [queryParams]="{uri: value.uri}">{{value.label}}</a></span>
          <span *ngIf="value?.isUrlValue()"><a [href]="value.value">{{value.value}}</a></span>
          <span *ngIf="!value?.isUrlValue()">{{value.value}}</span>
        </span>
      </span>
    </li>
  </ul>
</div>
