<div class="card mb-2">
  <img *ngIf="description.depiction" class="card-img-top"
       style="cursor: pointer" [class.expanded]="depictionExpanded" (click)="switchExpansion()"
       [src]="description.depiction" alt="resource depiction">
  <div class="card-header">
    <p class="card-text">
      <b *ngIf="description['@id']">{{description.label || description['@id']}}</b>
      <span *ngIf="!description['@id']" class="fa fa-minus-circle ml-1"></span>
      <span *ngFor="let type of description['@type']"
            class="badge badge-secondary badge-pill float-right">{{type}}</span>
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item small" *ngFor="let property of description.properties">
      <b title="{{property.uri}}">{{property.label}}</b>:
      <span *ngFor="let value of property.values; let firstValue=first">
        <app-description *ngIf="isAnonResource(value)"
          [description]="getAnonResource(value)" [anonDescriptions]="anonDescriptions">
        </app-description>
        <span *ngIf="!isAnonResource(value)"><span *ngIf="!firstValue">, </span>
          <span *ngIf="value.uri"><a [routerLink]="['../describe']" [queryParams]="{uri: value.uri}">{{value.label}}</a></span>
          <span *ngIf="value.value">{{value.value}}</span>
        </span>
      </span>
    </li>
  </ul>
</div>
