<div id="describe" class="row">

  <div *ngIf="loading" class="col-12 m-0">
    <h1 class="badge badge-warning badge-pill">Loading...</h1>
  </div>

  <div id="localmetadata" *ngIf="!loading && resource && resource['@id']"
       [ngClass]="{'col-4 m-0': resource.topicOf, 'col-12 m-0': !resource.topicOf}">
    <app-description [description]="resource" [anonDescriptions]="anonResources" [describe]="'.'"></app-description>
  </div>

  <div id="remotedata" *ngIf="!loading && (!resource || !resource['@id'])"
       [ngClass]="{'col-4 m-0': resource.topicOf, 'col-12 m-0': !resource.topicOf}">
    <h5>Remote Data</h5>
    <app-description [description]="remoteResource" [anonDescriptions]="remoteAnonResources" [describe]="'.'"></app-description>
  </div>

  <div id="localcontent" *ngIf="resource.body" class="col-8 m-0">
    <div [innerHTML]="resource.body"></div>
  </div>

  <div id="remotecontent" *ngIf="!resource.body && resource.topicOf" class="col-8 m-0">
    <div [innerHTML]="content"></div>
  </div>

</div>
