/* You can add global styles to this file, and also import other style files */

#spinner {
  display: inline-block;
  margin-top: 50px;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0,0,0,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.loading {
  background-origin: content-box;
  background-image: url("assets/loading.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

.nav-link{
  cursor: pointer;
}

p {
  text-align: justify !important
}

/*==============================================================================================*/
body {
  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1,  h2, h3, h4, h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/*bg-light or navbar background cannot be changed. This may be due to boostrap styles overriding this stylesheet.*/
.bg-light {
  background-color:rgb(131, 0, 81);
}


.facet {
  background-color: #f8f9fa;
}

/*Search bar from facet component*/
/*GO TO list-facet.component.html and search.component.html and delete the id="facetsearchbar", this is temporary*/

.card.facet.p-2.mb-2.search-facet {
  background-color:rgba(131, 0, 81);
}

/*
.form-control {
  border: 1px solid rgb(131, 0, 81);
}
*/

h5 {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(131, 0, 81);
}

.facet {
  background-color: #3333;
  color: rgb(131, 0, 81);
}

.card-title{
  color: rgb(29, 0, 18);
  text-transform: capitalize;
}

.card-title b {
  /*Padding to the right so that badge.pill doesn't stick with card-title*/
  margin: 0 0.3rem 0 0;
}

.card-title span.fa.fa-plus-circle.ml-1 {
  color: rgb(131, 0, 81) !important;
}

.badge-primary{
  color: #fff;
  background-color: rgb(131, 0, 81);
}

.badge-light{
  color:#fff;
  background-color: rgb(160, 110, 139);
}

/*==============================================================================================*/
/*WARNING COLORS*/
/*Changed warning color to something less vibrant.*/
.badge-warning{
  color:rgb(29, 0, 18);
  background-color: #FFF176;
}

.bg-warning{
  background-color: #FFF176 !important;
}
/*==============================================================================================*/

.bg-light{
  background-color: rgb(131, 0, 81) !important;
}

nav a.navbar-brand {
  visibility: hidden;
}

nav a.nav-link {
  color: #fff !important;
}

nav a img {
  /*Redundancy in case individual padding edit is needed.*/
  padding: 1rem 1rem 1rem 1rem;
  content: url("https://www.udl.cat/export/sites/universitat-lleida/.galleries/imagenes-estructura/logo-udl-cabecera.png_1747225888.png");
  max-width: 250px !important;
}

/*This should link to main menu.*/
/*It should also be implemented as an HTML element.*/
nav a.navbar-brand:after {
  visibility: visible;
  display: block;
  content: "UdL's Experts";
  font-size: 26px;
  color: white;
  margin-left: 30px;
  margin-top: -30px;
}

.nav-link, .navbar-toggler-icon {
  display: none;
}

/*==========================================================*/
/*pagination styles*/
li.page-item.active a.page-link {
  background-color: rgb(131, 0, 81);
  border-bottom-color: rgb(131, 0, 81);
  border-left-color: rgb(131, 0, 81);
  border-right-color: rgb(131, 0, 81);
  border-top-color: rgb(131, 0, 81);
}

li.page-item a.page-link {
  color: rgb(131, 0, 81);
}

.card-header a {
  color: #15597e;
}

*:focus {
  outline: 3px solid #5b9dd9;
  outline-offset: 2px;
}

/*Button styles*/
.dropbtn {
  background: none;

  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  border:1px solid white;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  cursor:pointer;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {
  background-color: #fff;
  color:#3d7a98;
}

.dropdown img{
  max-width: 16px;
}

/*=============================================================*/
/*DARKO*/
/*
body {
  background-color: #1e2124 !important;
  color: #fff;
}

.facet {
  background-color:#282b30;
  border-color: #424549;
}

.card-title {
  color: #fff;
}

.card.range.p-2.mb-1 {
  background-color: #1e2124;
}

.badge-light{
  color: #1e2124;
}

h5 {
  color: #d888ce;
}

ul.breadcrumb {
  background-color: #282b30 !important;
  border-color: #424549;
  color: #fff;
}

.card.mb-2 {
  background-color: #282b30;
  border-color: #424549;
  color: #fff;
}

ul.list-group.list-group-flush li {
  background-color: #1e2124;
  border-color: #424549;
  color: #fff;
}
*/


